  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" >  <!-- #myForm is local referance variable -->

    <input placeholder="Name" type="text" name="name" 
    ngModel [ngModel]="user.fname"/>

    <input placeholder="Lastname" type="Lastname" name="lastname" 
    ngModel [ngModel]="user.lname"/>

    <input placeholder="phone" type="phone" name="phone"
     ngModel />

    <input placeholder="Email" type="email" name="email"
     ngModel/>
    
    <textarea
      placeholder="Tell us about your project..." rows="3" name="project" ngModel>
    </textarea>
    
    <button type="submit">Submit</button>
    </form>
    
