/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Layout Stuff */
body {
    background: url("src/assets/images/background.jpg");
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: center;
    
  }
  